body {
	color: #5a5a5a;
}

.nav {
	font-size: 20px;
}

li a {
	color: grey;
	text-decoration: none;
}

li a:hover {
    color: orange;
}

.btn-lg {
	color: black;
	border-color: black;
	margin-right: 100px;
}

.btn-outline-primary:hover {
	background-color: orange;
    color: white;
}

.btn-lg:hover {
	background-color: orange;
    color: white;
    border-color: black;
}

.btn-secondary {
	background-color: white;
}

.bi-cart {
	fill: black;
}

.btn-secondary:hover {
	background-color: orange;
}

.bi-cart:hover {
	fill: white;
}

.notification {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
  
.bi {
	fill: orange;
	background-color: white;
	border-radius: 50%;
	z-index: 2;
	transition: all 0.6s ease;
	text-decoration: none;
}

.bi::after {
	width: 10%;
	height: 110%;
	left: -10%;
	top: 0;
	transform: skew(20deg, 0deg);
	background-color: #ffffff;
	z-index: -1;
	transition: all 0.4s ease;
}

.bi::before {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transform: skew(20deg, 0deg);
	border: 3px solid #03cc57;
	transition: all 0.4s ease;
	z-index: -1;
}

.bi:hover {
	color: #864410;
}

.bi:hover::after {
	background-color: #ffffff31;
	transform: skew(20deg, 0deg) translateX(330px);
}

.bi:hover::before {
	background-color: #03cc57;
	border: 3px solid #029740;
	transform: skew(20deg, 0deg) scale(1.2);
}

.btn-sm {
	color: black;
	border-color: black;
}

main {
	padding: 10%;
	padding-top: 2%;
}

.container>div {
	margin-left: 10em;
}

.checkout {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	padding-bottom: 140px;
	transform: scale(0.8);
}

.checkout .card-container {
	margin-bottom: -150px;
	position: relative;
	height: 250px;
	width: 400px;
}

.checkout .card-container .front {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #4d8bea, #3070d3);
	border-radius: 5px;
	backface-visibility: hidden;
	padding: 20px;
	transform: perspective(1000px) rotateY(0deg);
	transition: transform .4s ease-out;
}

.checkout .card-container .front .image {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}

.checkout .card-container .front .image img {
	height: 50px;
}

.checkout .card-container .front .card-number-box {
	padding: 30px 0;
	font-size: 22px;
	color: #fff;
}

.checkout .card-container .front .flexbox {
	display: flex;
}

.checkout .card-container .front .flexbox .box:nth-child(1) {
	margin-right: auto;
}

.checkout .card-container .front .flexbox .box {
	font-size: 15px;
	color: #fff;
}

.checkout .card-container .back {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #4d8bea, #3070d3);
	border-radius: 5px;
	padding: 20px 0;
	text-align: right;
	backface-visibility: hidden;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
	transform: perspective(1000px) rotateY(180deg);
	transition: transform .4s ease-out;
}

.checkout .card-container .back .stripe {
	background: #000;
	width: 100%;
	margin: 10px 0;
	height: 50px;
}

.checkout .card-container .back .box {
	padding: 0 20px;
}

.checkout .card-container .back .box span {
	color: #fff;
	font-size: 15px;
}

.checkout .card-container .back .box {
	height: 50px;
	padding: 10px;
	margin-top: 5px;
	color: #333;
	background: #fff;
	border-radius: 5px;
	width: 100%;
}

.checkout .card-container .back .box img {
	margin-top: 30px;
	height: 30px;
}