body {
	padding-bottom: 3rem;
	color: #5a5a5a;
}

.nav {
	font-size: 20px;
}

li a {
	color: grey;
	text-decoration: none;
}

li a:hover {
    color: orange;
}

.btn-lg {
	color: black;
	border-color: black;
	margin-right: 100px;
}

.btn-outline-primary:hover {
	background-color: orange;
    color: white;
}

.btn-secondary {
	background-color: white;
}

.btn-secondary:hover {
	background-color: orange;
}

.bi-cart {
	fill: black;
}

.bi-cart:hover {
	fill: white;
}

table {
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	background-color: white;
	border: 1px solid #1a2929;
}

td, th {
	text-align: center;
	padding: 8px;
	border-right: 1px solid #1a2929;
}

td {
	font-size: 12px;
}

thead th {
	color: #ffffff;
	background: #1a2929;
}

tr:nth-child(even) {
	background: #9edfd3;
}

@media ( max-width : 767px) {
	table {
		display: block;
		width: 100%;
	}
	thead, tbody, thead th {
		display: block;
	}
	thead th:last-child {
		border-bottom: none;
	}
	thead {
		float: left;
	}
	tbody {
		width: auto;
		position: relative;
		overflow-x: auto;
	}
	td, th {
		padding: 20px 0.625em 0.625em 0.625em;
		height: 60px;
		vertical-align: middle;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: auto;
		width: 120px;
		font-size: 13px;
		text-overflow: ellipsis;
	}
	thead th {
		text-align: left;
		border-bottom: 1px solid #f7f7f9;
	}
	tbody tr {
		display: table-cell;
	}
	tbody tr:nth-child(odd) {
		background: none;
	}
	tr:nth-child(even) {
		background: transparent;
	}
	tr td:nth-child(odd) {
		background: #f8f8f8;
		border-right: 1px solid #1a2929;
	}
	tr td:nth-child(even) {
		background-color: #9edfd3;
		border-right: 1px solid #1a2929;
	}
	tbody td {
		display: block;
		text-align: center;
	}
}