<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Foodie</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/index.css"
	th:href="@{/css/index.css}">

</head>

<body>
	<div class="container">
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<div class="col-md-2 mb-2 mb-md-0">
				<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
					<img class="foodie" src="static/img/foodie.jpg" th:src="@{/img/foodie.jpg}"/>
				</a>
			</div>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="px-3">Menú</a></li>
				<li><a href="/pedidos" class="px-3">Pedidos</a></li>
				<li><a href="/promociones" class="px-3">Promociones</a></li>
				<li th:if="${session.id != null}"><a href="/perfil" class="px-5">Perfil: <span th:if="${session.nombre}" th:text="${session.nombre}"></span></a></li>
			</ul>
			
			<div th:if="${session.id == null}" class="col-md-4 text-end">
		        <a href="/login" type="button" class="btn btn-outline-primary btn-lg me-2">Iniciar sesión</a>
		        <a href="/signup" type="button" class="btn btn-outline-primary btn-lg me-2">Registrarse</a>
		        <a href="/cesta" type="button" class="btn btn-secondary">
	                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi-cart" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
					</svg>
					<span id="cartCount" class="notification" style="display: inline-block;" th:if="${session.carrito}" th:text="${session.carrito}"></span>
                </a>
			</div>
			
			<div th:if="${session.id != null}" class="col-md-3 text-end">
				<a href="/logout" type="button" class="btn btn-outline-primary btn-lg me-2">Cerrar sesión</a>
		        <a href="/cesta" type="button" class="btn btn-secondary">
	                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi-cart" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
					</svg>
					<span id="cartCount" class="notification" style="display: inline-block;" th:if="${session.carrito}" th:text="${session.carrito}"></span>
                </a>
			</div>
			
		</header>
	</div>

	<main>
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="1" aria-label="Slide 2"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="oferta1"></div>
				</div>
				<div class="carousel-item">
					<div class="oferta2"></div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#myCarousel" data-bs-slide="prev">
				<svg width="50" height="50" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
				  	<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
				</svg>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#myCarousel" data-bs-slide="next">
				<svg width="50" height="50" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
				  	<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
				</svg>
			</button>
		</div>
		
		<div class="album py-5 bg-light">
			<div class="d-flex justify-content-center mb-4">
				<div class="d-flex justify-content-start mt-2 px-3">
					<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
						<li><button class="section px-5" data-target="principales-section">Principales</button></li>
						<li><button class="section px-5" data-target="entrantes-section">Entrantes</button></li>
						<li><button class="section px-5" data-target="bebidas-section">Bebidas</button></li>
						<li><button class="section px-5" data-target="postres-section">Postres</button></li>
					</ul>
				</div>
				<div class="d-flex justify-content-end px-3">
					<input id="search" type="search" class="form-control search-input" placeholder="¿Qué te apetece hoy?" aria-label="Search" name="plato" oninput="onSearch()">
				</div>
			</div>
			<div id="principales-section" class="container mb-3">
				<h2 class="mb-4">Principales</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col" th:each="plato, iterStat : ${listaPlatosPrincipales}">
						<div class="card shadow-sm">
							<img class="foodie m-3 mb-0" style="border-radius: 8%;" th:src="@{/img/productos/} + ${plato.idPlato} + .jpg"/>

							<div id="plato" class="card-body">
								<h4 th:text="${plato.nombrePlato}"></h4>
								<p class="card-text" th:text="${plato.descripcion}"></p>
								<div class="d-flex justify-content-center align-items-center px-2">
									<button type="button" class="btn btn-outline-secondary px-4" onclick="mostrarIngredientes()">Ver ingredientes</button>
									<form id="form-{{plato.idPlato}}" class="add-to-cart-form px-4" method="post" action="/cesta/add">
										<input type="hidden" name="productId" th:value="${plato.idPlato}"/>
										<button type="submit" class="btn btn-outline-secondary">Añadir por <text th:text="${plato.precioPlato}"></text> €</button>
									</form>
								</div>
								<div id="ingredientesOcultos" style="display: none;">
								    <ul>
								        <li th:each="ingrediente : ${plato.listaIngredientes}" th:text="${ingrediente.nombreIngrediente}"></li>
								    </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="entrantes-section" class="container mb-3">
				<h2 class="mb-4">Entrantes</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col" th:each="plato, iterStat : ${listaPlatosEntrantes}">
						<div class="card shadow-sm">
							<img class="foodie m-3 mb-0" style="border-radius: 8%;" th:src="@{/img/productos/} + ${plato.idPlato} + .jpg"/>

							<div id="plato" class="card-body">
								<h4 th:text="${plato.nombrePlato}"></h4>
								<p class="card-text" th:text="${plato.descripcion}"></p>
								<div class="d-flex justify-content-center align-items-center px-2">
									<button type="button" class="btn btn-outline-secondary px-4" onclick="mostrarIngredientes()">Ver ingredientes</button>
									<form id="form-{{plato.idPlato}}" class="add-to-cart-form px-4" method="post" action="/cesta/add">
										<input type="hidden" name="productId" th:value="${plato.idPlato}"/>
										<button type="submit" class="btn btn-outline-secondary">Añadir por <text th:text="${plato.precioPlato}"></text> €</button>
									</form>
								</div>
								<div id="ingredientesOcultos" style="display: none;">
								    <ul>
								        <li th:each="ingrediente : ${plato.listaIngredientes}" th:text="${ingrediente.nombreIngrediente}"></li>
								    </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="bebidas-section" class="container mb-3">
				<h2 class="mb-4">Bebidas</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col" th:each="plato, iterStat : ${listaPlatosBebidas}">
						<div class="card shadow-sm">
							<img class="foodie m-3 mb-0" style="border-radius: 8%;" th:src="@{/img/productos/} + ${plato.idPlato} + .jpg"/>

							<div id="plato" class="card-body">
								<h4 th:text="${plato.nombrePlato}"></h4>
								<p class="card-text" th:text="${plato.descripcion}"></p>
								<form id="form-{{plato.idPlato}}" class="add-to-cart-form" method="post" action="/cesta/add">
									<input type="hidden" name="productId" th:value="${plato.idPlato}"/>
									<div class="d-flex justify-content-center align-items-center">
										<button type="submit" class="btn btn-outline-secondary">Añadir por <text th:text="${plato.precioPlato}"></text> €</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="postres-section" class="container mb-3">
				<h2 class="mb-4">Postres</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col" th:each="plato, iterStat : ${listaPlatosPostres}">
						<div class="card shadow-sm">
							<img class="foodie m-3 mb-0" style="border-radius: 8%;" th:src="@{/img/productos/} + ${plato.idPlato} + .jpg"/>

							<div id="plato" class="card-body">
								<h4 th:text="${plato.nombrePlato}"></h4>
								<p class="card-text" th:text="${plato.descripcion}"></p>
								<div class="d-flex justify-content-center align-items-center px-2">
									<button type="button" class="btn btn-outline-secondary px-4" onclick="mostrarIngredientes()">Ver ingredientes</button>
									<form id="form-{{plato.idPlato}}" class="add-to-cart-form px-4" method="post" action="/cesta/add">
										<input type="hidden" name="productId" th:value="${plato.idPlato}"/>
										<button type="submit" class="btn btn-outline-secondary">Añadir por <text th:text="${plato.precioPlato}"></text> €</button>
									</form>
								</div>
								<div id="ingredientesOcultos" style="display: none;">
								    <ul>
								        <li th:each="ingrediente : ${plato.listaIngredientes}" th:text="${ingrediente.nombreIngrediente}"></li>
								    </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
<script>
  
   const onSearch = () => {
		const input = document.getElementById("search");
		const filter = input.value.toUpperCase();
		const list = document.getElementsByClassName("col");

		for (let i = 0; i < list.length; i++) {
			const plato = list[i];
			const text = plato.textContent.toUpperCase();
			if (text.includes(filter)) {
				plato.style.display = "";
			} else {
				plato.style.display = "none";
			}
		}
	}

   document.addEventListener("DOMContentLoaded", function() {
       // Obtener todos los botones
       var buttons = document.querySelectorAll("button[data-target]");

       // Agregar evento de clic a cada botón
       buttons.forEach(function(button) {
           button.addEventListener("click", function() {
               // Obtener el valor del atributo data-target
               var target = this.getAttribute("data-target");

               // Desplazarse hacia la sección correspondiente
               document.getElementById(target).scrollIntoView({
                   behavior: "smooth",
                   block: "start"
               });
           });
       });
   });
   
   $(document).ready(function() {
     $('.add-to-cart-form').on('submit', function(event) {
       event.preventDefault(); 
       var form = $(this);
       var url = form.attr('action');
       var productId = form.find('input[name="productId"]').val();

       $.post(url, { productId: productId }, function(data) {});
     });
   });

   function mostrarIngredientes() {
	   var ingredientesOcultos = document.getElementById("ingredientesOcultos");
       var ingredientes = ingredientesOcultos.innerHTML;
       
       // Crea un elemento div para la notificación emergente
       var popup = document.createElement("div");
       popup.classList.add("popup");
       
       // Agrega el contenido de la notificación
       popup.innerHTML = `
            <h3>Ingredientes</h3>
            <ul>
	            ${ingredientes}
	        </ul>
            <button class="close-btn" onclick="cerrarNotificacion()">X</button>
        `;
       
       // Agrega la notificación al cuerpo del documento
       document.body.appendChild(popup);
   }
   
   function cerrarNotificacion() {
       var popup = document.querySelector(".popup");
       if (popup) {
           popup.remove();
       }
   }
 </script>
</body>
</html>


