<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Foodie</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/pedidos.css"
	th:href="@{/css/pedidos.css}">

</head>

<body>

	<div class="container">
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<div class="col-md-2 mb-2 mb-md-0">
				<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
					<img class="foodie" src="static/img/foodie.jpg" th:src="@{/img/foodie.jpg}"/>
				</a>
			</div>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="px-3">Menú</a></li>
				<li><a href="/pedidos" class="px-3">Pedidos</a></li>
				<li><a href="/promociones" class="px-3">Promociones</a></li>
				<li th:if="${session.id != null}"><a href="/perfil" class="px-5">Perfil: <span th:if="${session.nombre}" th:text="${session.nombre}"></span></a></li>
			</ul>
			
			<div th:if="${session.id == null}" class="col-md-4 text-end">
		        <a href="/login" type="button" class="btn btn-outline-primary btn-lg me-2">Iniciar sesión</a>
		        <a href="/signup" type="button" class="btn btn-outline-primary btn-lg me-2">Registrarse</a>
		        <a href="/cesta" type="button" class="btn btn-secondary">
	                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi-cart" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
					</svg>
					<span id="cartCount" class="notification" style="display: none;"></span>
                </a>
			</div>
			
			<div th:if="${session.id != null}" class="col-md-3 text-end">
				<a href="/logout" type="button" class="btn btn-outline-primary btn-lg me-2">Cerrar sesión</a>
		        <a href="/cesta" type="button" class="btn btn-secondary">
	                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi-cart" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
					</svg>
					<span id="cartCount" class="notification" style="display: none;"></span>
                </a>
			</div>
			
		</header>
	</div>

	<main>
		<div th:if="${session.id == null}" class="container">
			<h2>Inicia sesión para ver tus pedidos</h2>
		</div>
		<div th:if="${session.id != null}" class="container">
			<h2>Historial de pedidos</h2>
			<table class="fl-table mb-5 mt-4">
				<thead>
					<tr>
						<th>Número de pedido</th>
						<th>Dirección de envío</th>
						<th>Método de pago</th>
						<th>Precio total</th>
						<th>Productos</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido:${listaPedidos}">
						<td th:text="${pedido.numeroPedido}"></td>
						<td th:text="${pedido.direccionEnvio}"></td>
						<td th:text="${pedido.metodoPago}"></td>
						<td th:text="${pedido.precioTotal}"></td>
						<td>
				            <th:block th:each="plato : ${pedido.listaPlatos}">
				                <span th:text="${plato.nombrePlato}"></span><br/>
				            </th:block>
				        </td>
					</tr>
				<tbody>
			</table>
		</div>
	</main>
</body>
</html>


