<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Foodie</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/perfil.css"
	th:href="@{/css/perfil.css}">

</head>

<body>

	<div class="container">
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<div class="col-md-2 mb-2 mb-md-0">
				<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
					<img class="foodie" src="static/img/foodie.jpg" th:src="@{/img/foodie.jpg}"/>
				</a>
			</div>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="px-3">Menú</a></li>
				<li><a href="/pedidos" class="px-3">Pedidos</a></li>
				<li><a href="/promociones" class="px-3">Promociones</a></li>
				<li th:if="${session.id != null}"><a href="/perfil" class="px-5">Perfil: <span th:if="${session.nombre}" th:text="${session.nombre}"></span></a></li>
			</ul>

			<div th:if="${session.id != null}" class="col-md-3 text-end">
				<a href="/logout" type="button" class="btn btn-outline-primary btn-lg me-2">Cerrar sesión</a>
		        <a href="/cesta" type="button" class="btn btn-secondary cesta">
	                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi-cart" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
					</svg>
					<span id="cartCount" class="notification" style="display: none;" th:if="${session.carrito}" th:text="${session.carrito}"></span>
                </a>
			</div>
		</header>

	</div>

	<main class="container">
	    <div class="row justify-content-center mb-5">
	        <div class="col-md-12">
	            <h2>Información del Cliente</h2>
	            <form th:action="@{/actualizarPerfil}" th:object="${signupForm}" method="post">
	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="mb-3">
	                            <label for="nombreCliente" class="form-label">Nombre</label>
	                            <input type="text" class="form-control" th:field="*{nombreCliente}" id="nombreCliente" th:placeholder="${cliente.nombreCliente}" disabled>
	                            <div th:if="${#fields.hasErrors('nombreCliente')}" th:errors="*{nombreCliente}" class="text-danger"></div>
	                        </div>
	                        <div class="mb-3">
	                            <label for="apellidosCliente" class="form-label">Apellidos</label>
	                            <input type="text" class="form-control" th:field="*{apellidosCliente}" id="apellidosCliente" th:placeholder="${cliente.apellidosCliente}" disabled>
	                            <div th:if="${#fields.hasErrors('apellidosCliente')}" th:errors="*{apellidosCliente}" class="text-danger"></div>
	                        </div>
	                        <div class="mb-3">
	                            <label for="telefonoCliente" class="form-label">Teléfono</label>
	                            <input type="text" class="form-control" th:field="*{telefonoCliente}" id="telefonoCliente" th:placeholder="${cliente.telefonoCliente}" disabled>
	                            <div th:if="${#fields.hasErrors('telefonoCliente')}" th:errors="*{telefonoCliente}" class="text-danger"></div>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="mb-3">
	                            <label for="correoElectronico" class="form-label">Correo Electrónico</label>
	                            <input type="email" class="form-control" th:field="*{correoElectronico}" id="correoElectronico" th:placeholder="${cliente.correoElectronico}" disabled>
	                            <div th:if="${#fields.hasErrors('correoElectronico')}" th:errors="*{correoElectronico}" class="text-danger"></div>
	                        </div>
	                        <div class="mb-3">
	                            <label for="contrasena" class="form-label">Contraseña</label>
	                            <input type="password" class="form-control" th:field="*{contrasena}" id="contrasena" th:placeholder="${cliente.contrasena}" disabled>
	                            <div th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" class="text-danger"></div>
	                        </div>
	                        <div class="mb-3">
	                            <label for="tarjetaCredito" class="form-label">Tarjeta de Crédito</label>
	                            <input type="text" class="form-control" th:field="*{tarjetaCredito}" id="tarjetaCredito" th:placeholder="${cliente.tarjetaCredito}" disabled>
	                            <div th:if="${#fields.hasErrors('tarjetaCredito')}" th:errors="*{tarjetaCredito}" class="text-danger"></div>
	                        </div>
	                    </div>
	                </div>
	                <div class="text-center mt-5">
	                    <button type="button" class="btn btn-primary" id="editarBtn">Editar</button>
	                    <button type="submit" class="btn btn-success" id="guardarBtn" disabled>Guardar</button>
	                    <button type="button" class="btn btn-secondary" id="cancelarBtn" disabled>Cancelar</button>
	                </div>
	                <div>
	                	<span class="text-success" th:text="${mensaje}"></span>
	                </div>
	                <div>
	                	<span class="text-danger" th:text="${error}"></span>
	                </div>
	            </form>
	        </div>
	    </div>
	</main>

<script>
    document.getElementById('editarBtn').addEventListener('click', function() {
        var inputs = document.querySelectorAll('input[type="text"], input[type="email"], input[type="password"]');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = false;
            inputs[i].value = '';
        }
        document.getElementById('guardarBtn').disabled = false;
        document.getElementById('cancelarBtn').disabled = false;
    });

    document.getElementById('cancelarBtn').addEventListener('click', function() {
        var inputs = document.querySelectorAll('input[type="text"], input[type="email"], input[type="password"]');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
            inputs[i].value = '';
        }
        document.getElementById('guardarBtn').disabled = true;
        document.getElementById('cancelarBtn').disabled = true;
    });
</script>
</body>
</html>


